<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skrflower.backend.dao.GuidelineDao">

    <!-- 查询攻略集合（按分类、按标签）-->
    <resultMap id="guidMap" type="guideline">
        <id property="guidId" column="g_id" />
        <result property="guidName" column="g_name" />
        <result property="categoryId" column="c_id" />
    </resultMap>
    <select id="findByCategory" resultMap="guidMap">
        select * from guideline g
        left join guid_category c
        on g.c_id = c.c_id
        where c.c_name=#{categoryName}
    </select>
    <select id="findByTag" resultMap="guidMap">
        select * from guideline g
        left join guid_tag gt
        on g.g_id = gt.g_id
        left join tag t
        on gt.t_id = t.t_id
        where t.t_name = #{tagName}
    </select>

    <!-- 查询单个攻略（按ID、按名字） -->
    <resultMap id="detailMap" type="guideline">
        <id property="guidId" column="g_id" />
        <result property="guidName" column="g_name" />
        <result property="categoryId" column="c_id" />
        <result property="content" column="content" />
        <result property="time" column="time" />
        <association property="author" column="u_id" select="selectAuthor" />
        <collection property="comments" column="g_id" ofType="comment" select="selectComment" />
    </resultMap>
    <select id="findById" resultMap="detailMap">
        select * from guideline g
        where g.g_id = #{guidId}
    </select>
    <select id="findByGuideName" resultMap="detailMap">
        select * from guideline
        where g_name = #{guidName}
    </select>

    <!-- 查询作者 -->
    <resultMap id="userMap" type="user">
        <id property="userId" column="u_id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="email" column="email" />
        <result property="gender" column="gender" />
        <result property="age" column="age" />
    </resultMap>
    <select id="selectAuthor" resultMap="userMap">
        select * from user
        where u_id = #{u_id}
    </select>

    <!-- 查询评论 -->
    <resultMap id="commentMap" type="comment">
        <id property="commentId" column="c_id" />
        <result property="content" column="content" />
        <result property="time" column="time" />
        <result property="otherId" column="g_id" />
        <association property="author" column="u_id" select="selectAuthor" />
    </resultMap>
    <select id="selectComment" resultMap="commentMap">
        select * from guideline_comment
        where g_id = #{g_id}
    </select>

</mapper>